	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2020 10:46
  	*/

@font-face {
  font-family: Flaticon;
  src: url(Flaticon.eot);
  src: url(Flaticon.eot?#iefix) format("embedded-opentype"), url(Flaticon.woff) format("woff"), url(Flaticon.ttf) format("truetype"), url(Flaticon.svg#Flaticon) format("svg");
  font-weight: 400;
  font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: Flaticon;
    src: url(Flaticon.svg#Flaticon) format("svg")
  }
}

[class*=" flaticon-"]:after,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class^=flaticon-]:before {
	font-family: Flaticon;
	font-style: normal
}

.flaticon-pump:before { content: "\f100"; }
.flaticon-oil-platform:before { content: "\f101"; }
.flaticon-diving:before { content: "\f102"; }
.flaticon-welding-machine:before { content: "\f103"; }
.flaticon-saw-machine:before { content: "\f104"; }
.flaticon-boiler:before { content: "\f105"; }